@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #ffffff;

  color: rgba(5, 5, 5, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 90px;
  background: #000000b8;
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: #3e5d9d;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 15px 21px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 30px;
  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 900px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 0;

  border-radius: 0px 0px 26px 26px;

  background: #3e5d9d;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: poppins;

  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  text-decoration: none;
  color: #bfccff;
}
.navigation__link:hover {
  color: #ffffff;
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}
.header-title {
  height: 60px;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }
  .header-title {
    height: 60px;
    margin-right: 500px;
  }
  .header {
    width: 100%;

    height: 90px;
    padding: 10px 80px 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1200px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1400px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 32px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    display: flex;
    width: auto;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    text-decoration: none;
  }
  .navigation__link:hover,
  .navigation__link:focus {
    background: transparent;
  }
  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 810px;
  padding: 260px 10px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(/image/home/Frame\ 168.png);
  background-color: #9fd9f3;

  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #47619c;
  padding: 10px 0 15px;
}
.home__google-button_link {
  display: inline-block;
  margin: auto;
  height: 65px;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 775px;
    padding: 491px 0px 0 209px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(/image/home/Frame\ 169.png);
    background-color: #9fd9f3;

    margin: auto;
  }

  .home__container-top {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .home-text {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 345px;
    color: #47619c;
    padding: 0px 0 15px;
  }
  .home__google-button_link {
    margin: 0;
    margin-left: 50px;
    width: 244px;
    height: 84px;
  }
}
.about {
  padding: 0 12px 0px;
  margin: auto;
  width: 375px;
  border-top: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, #78d7b5 0%, #028e7d 100%);
}
.about-title {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 1);
}

.about-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 297px;

  padding-top: 21px;
  color: #ffffff;
}
.about-leaf-one {
  margin-right: 240px;
  margin-top: -30px;
}
.about-leaf-two {
  margin-left: 240px;
  margin-bottom: -40px;
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 0px 122px;
    margin: auto;
    width: 1440px;
  }

  .about-title {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .about-text {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    width: 1196px;

    padding-top: 17px;
    color: #ffffff;
  }
  .about-leaf-one {
    margin-right: 440px;
    margin-top: -30px;
  }
  .about-leaf-two {
    margin-left: 1140px;
    margin-bottom: -40px;
  }
}
.advantages {
  width: 375px;
  margin: auto;
  padding: 0px 0 28px;
  background-color: #8bd2f1;
}
.advantages-image {
  margin-bottom: 32px;
  width: 375px;
  height: 144px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(/image/advantages/img_cook.png);
}
.advantages-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 32px 19px 0;
  gap: 24px;
}
.advantages-item {
  width: 337px;
  height: 156px;
  border-radius: 30px;
  background: #00000069;
  padding: 18px;
}
.advantages-texts {
  display: flex;
  align-items: center;
  gap: 10px;
}
.advantages-text-bold {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  color: #ffffff;
}
.advantages-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  padding-top: 11px;
  color: #ffffff;
}
.advantages-text-buttom {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
  text-transform: uppercase;
  padding: 24px 60px 0;
}
@media screen and (min-width: 1200px) {
  .advantages {
    width: 1440px;
    padding: 0;
  }

  .advantages-image {
    margin-bottom: 40px;
    width: 1440px;
    height: 210px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(/image/advantages/img_cook\\(1\).png);
  }
  .advantages-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 40px 180px 0;
    gap: 33px;
    height: 400px;
  }

  .advantages-text-buttom {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: #ffffff;
    text-transform: uppercase;
    padding: 24px 0px 27px;
  }
}

.play {
  width: 375px;
  margin: 0 auto;
  padding: 0px 14px;
  display: flex;
  border-top: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, #78d7b5 0%, #028e7d 100%);
}

.play-list {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding-top: 46px;
}
.play-item {
  width: 215px;
}
.play-img {
  width: 215px;
  height: 234px;
  border-radius: 30px;
  margin: auto;
}
.play-text-bold {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  color: #ffffff;

  padding: 24px 0px 0px;
}
.play-text {
  font-family: Poppins;

  font-size: 16px;
  font-weight: 400;
  line-height: 19.45px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}
.play-leaf-one {
  margin-left: 230px;
  margin-top: -50px;
}
.play-leaf-two {
  margin-right: 200px;
  margin-bottom: -50px;
}
@media screen and (min-width: 1200px) {
  .play {
    width: 1440px;
    padding: 0px 100px;
  }
  .play-list {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 41px;
    padding-top: 40px;
  }

  .play-text-bold {
    height: 60px;
    padding: 0;
    margin: 21px 0px 8px;
  }

  .play-leaf-one {
    margin-left: 630px;
    margin-top: -50px;
  }
  .play-leaf-two {
    margin-right: 690px;
    margin-bottom: -50px;
  }
}

.gallery {
  width: 375px;
  margin: auto;
  padding: 36px 0 44px;
  background-color: #8bd2f1;
}
.gallery-title {
  color: #3e5d9d;
}
.gallery__item {
  width: 226px;
  height: 338px;

  border-radius: 20px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.gallery__list {
  padding-top: 26px;
  padding-bottom: 26px;
}

.gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
  width: 62px;
  height: 60px;
}

.gallery-button:hover {
  scale: 120%;
}

.button-visible {
  display: none !important;
}

.gallery-button-icon {
  width: 62px;
  height: 60px;
}

@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;
    margin: auto;
  }

  .gallery__item {
    width: 386px;
    height: 578px;

    border-radius: 20px;

    overflow: hidden;
    position: relative;
    margin: 0 18px;
  }

  .gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .gallery__list {
    padding-top: 38px;
    padding-bottom: 40px;
  }
}

.faq {
  width: 375px;
  margin: 0 auto;
  padding: 0px 14px;
  display: flex;
  border-top: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, #78d7b5 0%, #028e7d 100%);
}

.faq-list {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 24px;
}
.faq-item {
  width: 330px;
}

.faq-text-bold {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 800;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #ffffff;
}
.faq-text {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #ffffff;
  padding-left: 20px;
}
.faq-button {
  width: 280px;
  height: 60px;
  border: none;
  border-radius: 50px;
  background: #fd8700;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 8px;
}
.faq-leaf-one {
  margin-right: 250px;
  margin-top: -40px;
}
.faq-leaf-two {
  margin-left: 250px;
  margin-bottom: -80px;
}
@media screen and (min-width: 1200px) {
  .faq {
    width: 1440px;
    margin: 0 auto;
    padding: 0px 122px;
    display: flex;

    flex-direction: column;
    align-items: center;
  }

  .faq-list {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 24px;
  }
  .faq-item {
    width: 1196px;
  }

  .faq-leaf-one {
    margin-right: 850px;
    margin-top: -40px;
  }
  .faq-leaf-two {
    margin-left: 850px;
    margin-bottom: -50px;
  }
}
.footer {
  background: #9fd9f3;

  color: #3e5d9d;
  padding: 0 0 34px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: start;

  gap: 0px;
}
.footer-container-two {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  gap: 40px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 17px;
}
.footer-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(250, 250, 250, 1);
}

.footer-copyright {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 40px;
}
.footer-img {
  width: 100px;
  height: 100px;
  border: none;
}
@media screen and (min-width: 1200px) {
  .footer {
    padding: 0 153px 47px;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: start;

    gap: 0px;
  }
  .footer-container-two {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: end;
    gap: 32px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;

    align-items: end;

    gap: 17px;
  }
  .footer-text {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(250, 250, 250, 1);
  }

  .footer-copyright {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 66px;
  }
}
.policy-terms-container {
  flex-direction: column;
  align-items: start;
  padding: 124px 22px 0px;
  color: #3e5d9d;
  background: #9fd9f3;
}
.policy-terms-title {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}

.policy-terms-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;

  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 186px 80px 0px;
    align-items: start;
  }
  .policy-terms-title {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .policy-terms-text {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 40px;
  }
  .policy-terms-texts {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .policy-terms-text-one {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 30px;
  }

  .terms-list {
    list-style-type: disc;

    padding: 20px 0 20px 25px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    display: flex;
    flex-direction: column;
  }

  .terms-lists {
    list-style-type: disc;

    padding-left: 25px;

    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
